@import url("https://fonts.googleapis.com/css2?family=Flavors&family=Poppins:wght@300;400;500&display=swap");

:root {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  background-image: url(https://images.unsplash.com/photo-1629103586287-7e26e5af5951?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80);
  background-size: cover;
  color: white;
  margin: 0;
  min-height: 100vh;
  min-width: 100vw;
}

.card {
  background-color: beige;
  color: black;
  height: 300px;
  width: 60vw;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
}
